.game-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-status {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: #3d3b4f;
}
.step-word {
  border-radius: 8px;
  color: #808080;
  background: #f0c239;
  font-size: 16px;
  margin: 6px;
}
.game-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 12px;
  padding-top: 32px;
  border: 2px solid #ff7500;
  border-radius: 8px;
}
.game-button {
  position: absolute;
  top: 0;
  right: 2px;
  margin: 5px;
  font-size: 16px;
  border: 2px solid #ff7500;
  border-radius: 6px;
  color: #fff;
  background: #ffb61e;
}
.game-position {
  position: absolute;
  left: 200px;
  top: 100px;
  padding: 5px;
  font-size: 24px;
  color: #3d3b4f;
}
